body {
    background-color: #e2e1de;
}

img.me {
    width: 100px;
    float: left;
    margin-right: 15px;
    border: 2px #b30d0d solid;
    border-radius: 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.link--page {
    color: #313131;
}

.row:last-child {
  border-bottom: none;
    margin-bottom: none;
}

.link:hover, .link:focus {
    color: #434343;
}

.js .page {
    background: #d5d4cf;
    overflow: auto;
}

section.content {
    padding: 0 10vw 0em;
}

.bp-header__present {
    color: #b30d0d;
}

.bp-header__title {
    color: #313131;
}


video {
    width: 100%;
}

.row {
    border-bottom: 1px #a09b92 solid;
    margin-bottom: 2em;
}

.link--page:not(.link--faded)::before {
    background: #b30d0d;
}

.red {
    color: #b30d0d;
}

.row.icongrid {
    margin-bottom: 0;
}

.icons {
    padding: 1em .5em 1em .5em;
}

.icons:first-child {
border-right: 1px #a7a7a7 solid;
margin-right: -1px;
}

.icongrid:last-child {
margin-bottom: 0px;
}

.icons p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
}

p.award {
    line-height: 1.3em;
}

#websitesbuilt {
    padding-top: 8px;
}

 .icons img {
 
 }

 .icons p:first-child {
    color:red !important;
 }

 .progress-bar {
    width: 100%;
    background-color: #a09b92;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.progress-bar-fill {
    display: block;
    height: 5px;
    background-color: #000;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.article__title {
    margin-bottom: 0;
}
.article__time {
    font-size: .8em;
}
.article__content {
    margin-top: .8em;
}

 .quote.hover {
      color:#a7a7a7;
  }
